div.featured-article
  a(href="#").article-list__anchor
    h2.post-title Featured Post Title
    p.post-meta
      span.post-author by Author Name
      span.post-date posted
        time(datetime="") Date
    p.post-excerpt Featured Post Excerpt

div.blog-roll
  ul.article-list
    each post in posts
      li.article-list__item
        a(href="/blog/" + post.slug).article-list__anchor
          h2.post-title= post.title
          p.post-meta
            span.post-author by #{post.author.name}
            span.post-date posted
              time(datetime=post.date) #{post.humanDate}
          p.post-excerpt!= post.excerpt
