include mixin-article-item

article
  header.blog-header
    h1.post-title= title
    p.post-meta
      ="by "
      a(href="/blog/author/" + author.slug): span.post-author #{author.name}
      time(datetime=date).post-date= humanDate

  if note
    div.pre-article
      div.article-note
        !=note

  div.article-body!= contents

  div.post-article
    div.author-profile
      h1 About the author
      div.author-profile__pic: img(src=author.img width="80")
      p.author-profile__text
        strong #{author.name}
        |  #{author.profile}

    - const allPosts = authors[author.name].posts
    if allPosts.length > 1
      div.more-articles
        h1 Recent Posts
        ul.article-list
          each post in allPosts.filter(p => p.slug !== slug).slice(0, 3)
            li.article-list__item
              +articleItem(post)
